[defaults]
# debug = True
interpreter_python = /usr/bin/python3
inventory = hosts
vault_password_file = .vault_pass
log_path = /tmp/ansible.log
deprecation_warning = True
host_key_checking = False
display_skipped_hosts = false
callbacks_enabled = timer, profile_tasks, profile_roles

[connection]
pipelining = True

[ssh_connection]
# NOTE: SSH will prefer password auth
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o CheckHostIP=no -o UpdateHostKeys=no -o LogLevel=quiet -o PreferredAuthentications=password -o ControlMaster=auto -o ControlPersist=1200

[inventory]
unparsed_if_failed = True
