[defaults]
# debug = True
interpreter_python = /usr/bin/python3
inventory = hosts
vault_password_file = .vault_pass
host_key_checking = False
deprecation_warning = False
log_path = /tmp/ansible.log

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o CheckHostIP=no -o UpdateHostKeys=no -o LogLevel=quiet

[inventory]
unparsed_if_failed = True
