[defaults]
interpreter_python = /usr/bin/python3
host_key_checking = False
# deprecation_warning = False
# debug = True
log_path = /tmp/ansible.log

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o CheckHostIP=no 

[inventory]
unparsed_if_failed = True
